body {
    font-family: 'Fira Sans', sans-serif;
    margin: 5% 10%;
    /* font-family: 'Lobster', cursive; */
}

header {
    background-color: #161616;
    color: #FFFFFF;
    padding: 5%;
    border-radius: 30px;
}

.flexible {
    display: flex;
    justify-content: space-evenly;
}

.half-width {
    width: 100%;
}

.half-width img {
    width: fluid;
}

.button {
    padding: 2% 6%;
    border-radius: 10px;
    background: #DD0000;
    color: #FFFFFF;
}

.fa-regular {
    color: #FFFFFF;
}